{% extends "index.html" %}
{% load static %}

{% block titulo %}Portal de Cursos{% endblock %}

{% block contenido %}
    <h1>Liceo Digital - Portal de Cursos</h1>
    <p>Entraste a una App (Módulo) de tu Liceo Digital</p>
    <h2>Listado de Cursos</h2>
    <p>Acá va el listado de cursos:</p>

    {% if lista_cursos %}
        <p>¡Excelente! Tenemos los siguientes cursos inscritos</p>
        <ol>
            {% for curso in lista_cursos %}
                <li>{{ curso }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p><strong>AVISO:</strong> Actualmente no hay cursos para listar</p>
    {% endif %}

    <a href="{% url 'inicio_global' %}">Volver al Portal Central</a>
{% endblock %}