<!-- DTL - Django Templates Language (Python minimizada) -->
{% extends 'index.html' %}

{% block titulo %} Registro de Curso {% endblock %}

{% block contenido %}

        <h1>Registrar un Nuevo Curso</h1>
        <form method = "POST">
            {% csrf_token %}

            <div>
                {{ form.as_p }}
            </div>
            <div>
                <button type = "submit">
                    Registrar Curso
                </button>
            </div>
        </form>

{% endblock %}