{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}App Gestión Liceo {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>



        <nav>
            {% block header %}
            <a href = "{% url 'inicio_global' %}">Inicio</a>
            <a href = "{% url 'inicio_alumnos' %}">Portal Alumnos</a>
            <a href = "{% url 'inicio_profesores' %}">Portal Profesores</a>
            <a href = "{% url 'inicio_cursos' %}">Portal Cursos</a>

            {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    {% endif %}
            {% endblock %}
        </nav>

    </header>
    <main>
        {% block contenido %}
            <h1>Bienvenido a la App Gestión Liceos</h1>
            <p>El Portal central de nuestro liceo digital</p>
        {% endblock %}
    </main>
    <footer>
        <div style="text-align: center">
            <p>&copy; 2026 Liceo Digital. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>